# AirBnB Berlin EDA
Use `pandas` to analyze [AirBnB Berlin dataset](https://www.kaggle.com/brittabettendorf/berlin-airbnb-data) dataset.

In [64]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

## Load the Datasets

In [11]:
# load the dataset
listings = pd.read_csv('./data/listings.csv')
listings_summary = pd.read_csv('./data/listings_summary.csv')
reviews = pd.read_csv('./data/reviews.csv')
neighborhoods = pd.read_csv('./data/neighbourhoods.csv')
reviews_summary = pd.read_csv('./data/reviews_summary.csv')
calendar_summary = pd.read_csv('./data/calendar_summary.csv')

In [17]:
listings.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,52.534537,13.402557,Entire home/apt,60,4,118,2018-10-28,3.76,4,141
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,52.548513,13.404553,Private room,17,2,6,2018-10-01,1.42,1,0

In [31]:
listings_summary.head(1)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2015,https://www.airbnb.com/rooms/2015,20181107122246,2018-11-07,Berlin-Mitte Value! Quiet courtyard/very central,Great location! 30 of 75 sq meters. This wood...,A+++ location! This „Einliegerwohnung“ is an e...,Great location! 30 of 75 sq meters. This wood...,none,It is located in the former East Berlin area o...,...,t,NaN,NaN,f,f,strict_14_with_grace_period,f,f,4,3.76

In [13]:
neighborhoods.head()

    neighbourhood_group        neighbourhood
0  Charlottenburg-Wilm.            Barstraße
1  Charlottenburg-Wilm.  Charlottenburg Nord
2  Charlottenburg-Wilm.  Düsseldorfer Straße
3  Charlottenburg-Wilm.      Forst Grunewald
4  Charlottenburg-Wilm.            Grunewald

In [14]:
reviews_summary.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2015,69544350,2016-04-11,7178145,Rahel,Mein Freund und ich hatten gute gemütliche vie...
1,2015,69990732,2016-04-15,41944715,Hannah,Jan was very friendly and welcoming host! The ...
2,2015,71605267,2016-04-26,30048708,Victor,Un appartement tres bien situé dans un quartie...
3,2015,73819566,2016-05-10,63697857,Judy,"It is really nice area, food, park, transport ..."
4,2015,74293504,2016-05-14,10414887,Romina,"Buena ubicación, el departamento no está orden..."

In [40]:
calendar_summary.head()

   listing_id        date available price
0        2015  2019-09-10         f   NaN
1        2015  2019-09-09         f   NaN
2        2015  2019-09-08         f   NaN
3        2015  2019-09-07         f   NaN
4        2015  2019-09-06         f   NaN

## Questions

`1` How many unique listings are there in Berlin?

`2` a. How many listings are there in each neighbourhood group?

b. Get the top-5  neighborhood groups by the number of listings?

c. Get the bottom-5  neighborhood groups by the number of listings?

`3` Get the number of listings per property type

`4` Find the number of reviews for `Apartment` property type in `2018`?

`5` Sort the neighbourhood groups by the average price of the listing (from the most expensive to least expensive) using the `listings` table

`6` Get the average number of available listings for each month in 2019 (get the number of available listings for each day and find the monthly average value for each month in 2019)

`7` Get the average listing price for each month in 2019 (use `calendar_summary` table and intermediate results from the previous question)

## Diagrams

Use the data extracted above to have fun with the diagrams ^^

Is there any relation between the number of available listings and the average listing prices?